.checkupdate {
	-fx-padding: 10px;
}
.label {
	-fx-text-fill: White;
}
FlowPane {
	-fx-padding: 2em 0 0 0;
	-fx-hgap: 10px;
}
#titleText.label {
	-fx-font-size: 24px; -fx-font-weight: normal;
}
#messageText.label {
	-fx-font-size: 16px; -fx-font-weight: normal;
}

.button {
	-fx-background-color: rgb(128,179,169);
}
.checkupdate {
	-fx-background-color: rgb(0,104,84);
}